<div class="links">
<h1>Updates</h1>

{% for post in site.posts %}

<div class="link">
<a class="active" href="{{ site.url }}{{ post.url }}">
<h1>{{ post.date | date_to_string }}</h1>
{{ post.title }}
</a>
</div><!--<div id="link">-->

{% endfor %}

</div><!--<div id="links">-->
