<div class="links">
<h1>Project links</h1>

<div class="link">
<a class="active" href="{{ site.url }}">
<h1>Home</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/MK3FilamentGuide">
<h1>GitHub Repository</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/MK3FilamentGuide/issues">
<h1>Bug Tracker</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/MK3FilamentGuide/wiki">
<h1>Wiki</h1>
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->

