<div class="links">
<h1>Related Projects</h1>

<!-- DIYLaserBed --> 
<div class="link">
<a class="active" href="//hotwolf.github.io/DIYLaserBed">
<h1>DIYLasaerBed</h1>
A hight adjustable laser bed
</a>
</div><!--<div id="link">-->

<!-- DIYWaterChiller --> 
<div class="link">
<a class="active" href="//hotwolf.github.io/DIYWaterChiller">
<h1>DIYWaterChiller</h1>
Water cooler for a CO2 laser 
</a>
</div><!--<div id="link">-->


<!-- Project Overview -->
<div class="link">
<a class="active" href="//hotwolf.github.io">
<h1>...more</h1>
Overview of all projects on hotwolf.github.io
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
